* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: linear-gradient(90deg, #179131 0%, #35e90f 87%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px 0 20px;
}

.page-brand {
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 60px;
  margin-right: 0.75em;
}

main {
  padding: 2.25em;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1em;
}

input {
  border: 1px solid #D5D4D8;
  border-radius: 3px;
  padding-left: 1em;
}

.submit-btn {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #179131 0%, #35e90f 87%);
  border-radius: 5px;
  border: none;
  font-weight: bold;
} 

.meme-container {
  margin-top: 2em;
  position: relative;
}

.meme-img {
  width: 50%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.meme-caption {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0;
  padding: 0 5px;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}